* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background: #f2f2f2;
    height: 100vh;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6;
}
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 115px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid #4263EB;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}
span:hover {
    transform: scale(1.1);
}

li {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    background-color: #000000;
    padding: 20px 70px;
    border-radius: 10px;
    margin-top: 10px;
    text-transform:bold;

}
h1 {
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}

li:hover {
    background-color: #4263EB;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}